<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_practice1?useUnicode=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!--update没有表时创建表并更新表结构、表记录数据-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <!--<property name="hibernate.hbm2ddl.auto">validate</property>-->

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">120</property>
        <property name="c3p0.idle_test_period">3000</property>
        <!--MySQL默认4，避免脏读、不可重复读-->
        <property name="hibernate.connection.isolation">4</property>
        <!--开启当前线程中的session-->
        <property name="current_session_context_class">thread</property>

        <mapping resource="zv2/com/cn/entity/pub/room/Room.hbm.xml"></mapping>
        <mapping resource="zv2/com/cn/entity/usr/visitor/Visitor.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>